:root{
    --background-color:#f9f7fe;
    --main-font-family:'Poppins', sans-serif;
    --header-font-family:'Kaushan Script', cursive;
    --hightlight-color:#9DCBEC;
    --main-text-color:#272142;
}
.hero{
    text-align: center;
    padding: 100px 80px;
    background: var(--background-color);
}
.hero p {
    font-family: var(--main-font-family);
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    color: var(--main-text-color);

}
p{
    font-size: 26px;
    line-height: 30px;
    font-family: var(--main-font-family);
}
h2,
h3,
h4 {
font-family: var(--main-font-family);
font-weight: normal;
color: var(--main-text-color);
}
h1 {
    font-family: var(--header-font-family);
    font-size: 96px;
    font-weight: bold;
    color: var(--hightlight-color);}
.hero h2{
    font-size: 24px;
}
.btn-branding {
background-color: var(--hightlight-color);
border-radius: 35px;
border-width: 3px;
padding: 10px 30px;
font-size: 20px;
color: white;
}
.btn-branding:hover {
    cursor: pointer;
    border-color: var(--hightlight-color);
    color:var(--hightlight-color)
}
.btn-branding-learnmore{
    border-color: var(--hightlight-color);
border-radius: 35px;
border-width: 3px;
padding: 10px 30px;
font-size: 20px;
color:var(--hightlight-color);
}
.decription h1 {
    font-size: 64px;
  }
.decription {
    padding: 100px 60px;
}
@media (max-width: 960px) {
    h1 {
      font-size: 60px;
      text-align: center;
    }
        .hero {
        padding: 70px 20px;
        }
        .decription {
            padding: 0;
        text-align: center;}
        .decription h1{
            font-size: 45px;}
}
