:root{
    --background-color:#f9f7fe;
    --main-font-family:'Poppins', sans-serif;
    --header-font-family:'Kaushan Script', cursive;
    --hightlight-color:#9DCBEC;
    --main-text-color:#272142;
}
.logo{
    max-height: 40px;
}
nav {
    margin: 10px 0;
}
.container ul{
    margin: 0;
    padding: 0;
}
.container li{
display: inline;
list-style: none;
line-height: 42px;
margin-left: 15px;
font-weight: bold;
}
nav a{
    text-decoration: none;
    color:#272142;
    transition: all 100ms ease-in-out;
    
}
nav a:hover, nav li.active a{
color:var(--hightlight-color);
}
.hero{
    text-align: center;
    padding: 60px 60px;
    background: var(--background-color);
}
.hero p {
    font-family: var(--main-font-family);
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    color: var(--main-text-color);
    font-weight: bold;

}
p{
    font-size: 26px;
    line-height: 30px;
    font-family: var(--main-font-family);
}
h2,
h3,
h4 {
font-family: var(--main-font-family);
font-weight: normal;
color: var(--main-text-color);
}
h1 {
    font-family: var(--header-font-family);
    font-size: 96px;
    font-weight: bold;
    color: var(--hightlight-color);}
.hero h2{
    font-size: 24px;
}
.btn-branding {
background-color: var(--hightlight-color);
border-radius: 35px;
border-width: 3px;
padding: 10px 30px;
font-size: 20px;
color: white;
}
.btn-branding:hover {
    cursor: pointer;
    border-color: var(--hightlight-color);
    color:var(--hightlight-color)
}
.btn-branding-learnmore{
    border-color: var(--hightlight-color);
border-radius: 35px;
border-width: 3px;
padding: 10px 30px;
font-size: 20px;
color:var(--hightlight-color);
}
.decription h1 {
    font-size: 64px;
  }
.decription {
    padding: 30px 30px;
}
.about-container, .content-container{
    text-align: center;
    padding: 60px 60px;}

.about-hello {
        font-family: var(--main-font-family);
        font-size: 36px;
        font-weight: normal;
        margin: 0;
        color: var(--main-text-color);
        font-weight: bold;
    
    }
.about-text{
    padding: 10px 40px;
}
.about-text p {
    text-align: left;
}
.content-container h1 {
    font-family: var(--header-font-family);
    font-size: 36px;
    font-weight: bold;
    color: var(--hightlight-color);
}
.content-container a{
    text-decoration: none;
    color: var(--hightlight-color);
}
.work-text {
    margin-bottom: 30px;
    font-weight: bold;
}
footer .contact-box{
    background-color: var(--background-color);
    color: black;
    padding: 10px 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
footer h4{
    font-size: 48px;
    
}
footer p{
    font-size: 18px;
}
footer .email-footer a{
    font-size: 24px;
       text-decoration: none;
    color: black;
}
footer .media-links a{
    margin: 0 20px;
    color:var(--hightlight-color);
    background-color: var(--background-color);
    padding: 7px 14px;
    border-radius: 50%;
    font-size: 22px;
    transition: all 100ms ease-in-out;
}
footer .media-links a:hover, .content-container a:hover{
    color:white;
    background-color: var(--hightlight-color);
}
.open-source a {
    font-size: 18px;
    font-weight: bold;
    color:var(--hightlight-color);
    text-decoration: none;
}
@media (max-width: 960px) {
    h1 {
      font-size: 60px;
      text-align: center;
    }
    h2{font-size: 20px;
        
    }
        .hero {
        padding: 20px 20px;
        }
        .decription {
            padding: 0;
        text-align: center;}
        .decription h1{
            font-size: 45px;}
    .about-container, .content-container{
        padding: 20px 20px;
        text-align: center;
        }
        .content-container h1 {
            font-size: 30px;
      text-align: center;
        }
        .content-container p {
            font-size: 20px;
      text-align: center;
        }
        .about-text p {
            text-align: center;
        }
        .about-text{
            padding: 10px;
        }
        .work-text {
            margin-bottom: 0;
        }
        nav a {
            font-size: 14px;
        }
        .container li{
            margin-left: 5px;
        }
}